body{
    display:flex;
    justify-content: center;
    background-color: rgb(173, 172, 172);
}

#calculator{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    background-color: gray;
    border-radius: 30px;
    border: solid black 1px;
}

#screen{
    margin: 40px 40px 0 40px;
    height: 100px;
    width: 424px;
    background-color: rgb(144, 179, 144);
    border-radius: 5px;
    border: solid black 1px;
}

#screen-text{
    margin-right: 16px;
    font-size: 64px;
    text-align: right;
    line-height: 100px;
}

#buttons{
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 6px;
}

.btn-row{
    display: flex;
    justify-content: center;
    gap: 6px;
}

.op-btn{
    background-color: rgb(61, 58, 58);
    color: white;
}

#btn-clear{
    background-color: rgb(204, 67, 67);
    color: white;
}

#btn-equal{
    background-color: rgb(240, 158, 50);
    color: white;
}

button{
    border: solid black 1px;
    height: 80px;
    width: 80px;
    font-size: 48px;
    border-radius: 10px;
    background-color: rgb(224, 222, 222);
}

.wide-btn{
    width: 166px;
}
